<app-default-layout>
  <div class="row justify-content-md-center pt-5">
    <div class="col-md-8 col-xs-4 text-center mb-4 mt-4">
      <img src="../../../assets/logo.svg" style="width: 200px" />
      <h1 class="mt-4 mb-3">Sign In</h1>
      <form [formGroup]="signinForm">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="login"
            placeholder="name@example.com"
            formControlName="email"
          />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <button
          type="submit"
          class="btn btn-primary mt-4 col-12"
          (click)="onSignin()"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</app-default-layout>
