<div [hidden]="!isLogin">
  <div class="align-center">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="container py-3">
  <div class="content justify-content-center">
    <ng-content></ng-content>
  </div>
</div>
