<app-default-layout>
  <h2 class="mb-5">Create a new request</h2>
  <form class="row gx-4" [formGroup]="requestForm">
    <div class="col">
      <div class="form-floating mb-3">
        <input
          id="name"
          class="form-control"
          type="text"
          placeholder="name@example.com"
          formControlName="name"
        />
        <label for="name">Name</label>
      </div>

      <div class="form-floating mb-3">
        <textarea
          id="description"
          class="form-control"
          type="text"
          placeholder="describe your quest"
          formControlName="description"
        ></textarea>
        <label for="description">Description</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="picture"
          class="form-control"
          type="url"
          pattern="https://.*"
          placeholder="https://example.com/picture.jpg"
          formControlName="pictureURL"
        />
        <label for="picture">Picture URL</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="quest-giver"
          class="form-control"
          type="text"
          placeholder="your name"
          formControlName="questGiver"
        />
        <label for="quest-giver">Quest Giver</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="bounty"
          class="form-control"
          type="number"
          placeholder="the reward's amount"
          formControlName="bounty"
        />
        <label for="bounty">Bounty</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="duration"
          class="form-control"
          type="number"
          placeholder="estimation of the days needed to fullfill the quest"
          formControlName="duration"
        />
        <label for="duration">Duration (in days)</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="awarded-experiences"
          class="form-control"
          type="number"
          placeholder="the amount of experience you will get"
          formControlName="awardedExperience"
        />
        <label for="awarded-experiences">Awarded Experience</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="avalaible-for"
          class="form-control"
          type="number"
          placeholder="the amount of days you can do the quest"
          formControlName="availableFor"
        />
        <label for="available-for">Availability (in days)</label>
      </div>
    </div>
    <form [formGroup]="requiredProfilesForm" class="col">
      <div class="form-floating mb-3">
        <select
          class="form-select"
          id="required-profiles"
          aria-label="the profiles required for the quest"
          formControlName="speciality"
        >
          <option
            *ngFor="let speciality of specialityList"
            [value]="speciality"
          >
            {{ speciality }}
          </option>
        </select>
        <label for="required-profiles">Required Profiles</label>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="number"
          name="profiles-xp"
          id="profiles-xp"
          formControlName="experience"
        />
        <label for="profiles-xp">Profile required Experience</label>
      </div>
      <button
        type="submit"
        class="btn btn-primary mb-3"
        [disabled]="!requiredProfilesForm.valid"
        (click)="onAddProfile()"
      >
        Add a Profile
      </button>
      <div class="card-text d-flex flex-wrap justify-content-start mb-3">
        <span
          *ngFor="let profile of requiredProfiles"
          class="badge rounded-pill bg-info me-2 mb-2"
          >{{ profile.speciality }} : {{ profile.experience }} XP</span
        >
      </div>
    </form>
    <div class="d-grid gap-2 mt-3">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!requestForm.valid"
        (click)="onSubmit()"
      >
        Create a request
      </button>
    </div>
  </form>
</app-default-layout>
