<app-default-layout>
  <input class="form-control mb-3" placeholder="Search" (keyup)="filter($event)" [(ngModel)]="searchTerm" spellcheck="true">
  <a routerLink="/adventurer/new">
    <button type="button" class="btn btn-dark mb-3">New adventurer</button>
  </a>
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
    <app-adventurer-card
      *ngFor="let adventurer of searchedAdventurers"
      [adventurer]="adventurer"
    ></app-adventurer-card>
  </div>
</app-default-layout>
