<div class="col">
  <div class="card">
    <img
      src="{{ adventurer.pictureURL || '../../assets/default-adventurer.png' }}"
      class="card-img-top"
      alt="Adventurer profile picture"
    />
    <div class="card-body">
      <h5 class="card-title">{{ adventurer.name }}</h5>
      <div class="card-text d-flex justify-content-start mb-3">
        <span class="badge rounded-pill bg-info me-2">{{
          adventurer.speciality
        }}</span>
      </div>
      <p class="card-text d-flex justify-content-between">
        <span>{{ adventurer.experience }} ✨</span>
        <span>{{ adventurer.baseDailyRate }} 💰/d</span>
      </p>
    </div>
  </div>
</div>
