<app-default-layout>
  <input class="form-control mb-3" placeholder="Search" (keyup)="filter($event)" [(ngModel)]="searchTerm" spellcheck="true">
  <a routerLink="/request/new">
    <button type="button" class="btn btn-dark mb-3">New request</button>
  </a>
  <app-request-card
    *ngFor="let request of requests"
    [request]="request"
  ></app-request-card>
</app-default-layout>
