<app-default-layout>
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-xs-4">
      <h1 class="mb-5">Create a new adventurer</h1>
      <form [formGroup]="adventurerForm">
        <div class="form-floating mb-3">
          <input
            id="name"
            class="form-control"
            type="text"
            placeholder="Name"
            formControlName="name"
          />
          <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input
            id="speciality"
            class="form-control"
            type="text"
            placeholder="Speciality"
            formControlName="speciality"
          />
          <label for="speciality">Speciality</label>
        </div>

        <div class="form-floating mb-3">
          <input
            id="experience"
            class="form-control"
            type="number"
            placeholder="Experience"
            formControlName="experience"
          />
          <label for="experience">Experience</label>
        </div>

        <div class="form-floating mt-4">
          <input
            id="baseDailyRate"
            class="form-control"
            type="number"
            placeholder="BaseDailyRate"
            formControlName="baseDailyRate"
          />
          <label for="experience">Base Daily Rate</label>
        </div>

        <div class="form-floating mt-4">
          <input
            id="pictureURL"
            class="form-control"
            type="text"
            placeholder="PictureURL"
            formControlName="pictureURL"
          />
          <label for="pictureURL">Picture URL</label>
        </div>

        <button
          type="submit"
          class="btn btn-primary mt-4"
          [disabled]="!adventurerForm.valid"
          (click)="onSubmit()"
        >
          Create an adventurer
        </button>
      </form>
    </div>
  </div>
</app-default-layout>
