<div class="card mb-3">
  <div class="row">
    <div class="col-4">
      <div
        class="w-100 h-100 rounded-start"
        style="background-size: cover; background-position: center"
        [ngStyle]="{
          'background-image': 'url(' + request.pictureURL + ')'
        }"
      ></div>
    </div>
    <div class="col-8">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h2 class="card-title">{{ request.name }}</h2>
          <h4>
            <span class="badge bg-primary">{{ request.status }}</span>
          </h4>
        </div>
        <p class="card-text text-muted">By {{ request.questGiver }}</p>
        <p class="card-text">
          {{ request.description }}
        </p>
        <p class="card-text d-flex justify-content-between">
          <span>{{ request.duration }}d ⏱️</span>
          <span>{{ request.awardedExperience }} ✨</span>
          <span>{{ request.bounty }} 💰</span>
          <span *ngIf="request.requiredProfiles"
            >{{ request?.requiredProfiles?.length }} 🧙</span
          >
        </p>
        <h5 class="card-title">Required profiles :</h5>
        <div class="card-text d-flex justify-content-start mb-5">
          <span
            *ngFor="let profile of request.requiredProfiles"
            class="badge rounded-pill bg-info me-2"
            >{{ profile.speciality }}</span
          >
        </div>
        <div class="card-text d-flex justify-content-between">
          <p class="m-0">
            Created the
            <span class="text-info">{{
              request.date | date: "dd/MM/yyyy"
            }}</span>
          </p>
          <p class="m-0">
            <span>{{
              getDifferenceBetweenDates(request.date, request.availableFor)
            }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
