<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="#">
      <img
        src="../../../assets/logo.svg"
        alt="Opale's Hood Logo"
        width="50"
        height="50"
      />
    </a>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/request">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adventurer">Adventurer</a>
        </li>
      </ul>
      <div class="ms-auto">
        <button class="btn btn-primary" type="button" (click)="logout()">
          Sign Out
        </button>
      </div>
    </div>
  </div>
</nav>
